@import '../../../styles/utils';

.createUser-wrapper{
    @include formWrapper();

    h2{
        @include formTitle();
    }
    form{
        @include form();
        input{
           @include input();
        }

        input::placeholder{
            color: $gray;
        }

        button{
            @include formButton(15px);
        }
        button:hover{
            transition: $transition;
            background-color: $fbmqBlueHover;
        }

        div{
            margin-top: 20px;
            p{
                color: $gray;
                font-size: 0.6em;
                margin-top: 5px;
                text-align: justify;
            }
        }
    }
}

.created-success{
    @include createdDeletedSuccess(); 
    span{
        display: flex;
        flex-direction: row;
        text-align: center;
    }
        .backHome-btn{
            @include formButton(40px);
    }
    .backHome-btn:hover{
        transition: $transition;
        background-color: $fbmqBlueHover;
    }

    p{
        margin-top: 3px;
    }

    span{
        margin-left: 5px;
    }
}
a{
    button{
        width: 100%;
    }
}